@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  @font-face{
      font-family: buttonFont;
      src: url(../assets/MedievalSharp/MedievalSharp-Regular.ttf)
  }

  @font-face{
    font-family: bodyFont;
    src: url(../assets/Bitter/static/Bitter-Regular.ttf)
}
}